<div class="row">
<div ng-controller="BoardCtrl">
  <div class="large-8 columns">
    <h4>My Boards:</h4>
    <ul>
      <li ng-repeat="board in boards">
        <span><a href="#/boards/{{board.id}}">{{board.name}}</a></span>
        <span><a href="#/boards/{{board.id}}/edit">Edit</a></span>
      </li>
    </ul>

    <form>
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" ng-model="boardName" placeholder="add new board name here" required>
        </div>
        <div class="small-2 columns">
          <a class="button prefix" type="submit" ng-click="saveBoard()">Add</a>
        </div>
      </div>
    </form>
  </div>

  <div class="large-4 columns">
    <h4>User info:</h4>
    <p>Name: alex</p>
  </div>
</div>
</div>