<div ng-controller="TaskCtrl">
  <div class="four columns panel" ng-repeat="status in statuses">
    <h1>{{status.name}}</h1>
    <p>Total {{groupped[status.name].length}}</p>

    <ul class="tasks" ui-sortable="{connectWith:'.tasks', dropOnEmpty: true, update: syncModel}" ng-model="groupped[status.name]">
      <li ng-repeat="task in groupped[status.name]">
        <span>{{task.name}}</span>
      </li>
    </ul>
  </div>

  <form ng-submit="addTodo()">
    <input type="text" ng-model="todoText"  size="30"
           placeholder="add new task here">
    <input class="btn-primary" type="submit" value="add">
  </form>
</div>