<div class="row">
<div ng-controller="TaskCtrl">
  <div class="large-4 columns panel" ng-repeat="status in statuses">
    <h1>{{status.name}}</h1>
    <p>Total {{groupped[status.name].length}}</p>

    <ul class="tasks" ui-sortable="{connectWith:'.tasks', dropOnEmpty: true, update: syncModel}" ng-model="groupped[status.name]">
      <li ng-repeat="task in groupped[status.name]">
        <span>{{task.name}}</span>
      </li>
    </ul>
  </div>
  <form ng-submit="addTodo()">
    <div class="row collapse">
      <div class="small-10 columns">
        <input type="text" ng-model="todoText" placeholder="add new task here">
      </div>
      <div class="small-2 columns">
        <input type="button" class="button prefix"  value="Add">
      </div>
    </div>
  </form>
</div>
</div>